@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html {
    @apply font-Bebas;
  }

  button {
    @apply cursor-pointer;
  }
}

.App {
  grid-template:
    "header" auto
    "content" 1fr
    "footer" auto
    / 1fr;
}

#Header {
  grid-area: header;
}

#Content {
  grid-area: content;
  z-index: 10;
}

#Footer {
  grid-area: footer;
}

.pagination {
  @apply flex justify-center my-5;
}

.page-link {
  @apply p-2 border border-gray-200 shadow rounded-sm bg-white;
}

.active a{
  @apply bg-blue-500 text-white;
}

.disabled a {
  @apply text-gray-500 bg-gray-100 cursor-default;
}

button.toggle {
  background: #b6e2a1;
}
button.delete {
  background: #ff8fb1;
}

.todo {
  margin: 15px;
}